<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode" version="1.0.1" targetFramework="net45" />
  <package id="Kiwi.Markdown" version="0.8.2" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net45" />
</packages>